
/* 
 *
 * Reset overrides
 * ------------------------------------------------------ 
 *
 */

a, a:hover {
  cursor: pointer;
  color: #88c425;
}

p a:hover {
  text-decoration: underline;
}

/* 
 *
 * Clearfix
 * ------------------------------------------------------ 
 *
 */

.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* 
 *
 * Fonts
 * ------------------------------------------------------ 
 *
 */

@font-face {
  font-family: 'Ostrich-black';
  src: url('../fonts/ostrichsans/ostrich-black-webfont.eot');
  src: url('../fonts/ostrichsans/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ostrichsans/ostrich-black-webfont.woff') format('woff'),
       url('../fonts/ostrichsans/ostrich-black-webfont.ttf') format('truetype'),
       url('../fonts/ostrichsans/ostrich-black-webfont.svg#CombiNumeralsLtdRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ostrich-medium';
  src: url('../fonts/ostrichsans/ostrich-rounded-webfont.eot');
  src: url('../fonts/ostrichsans/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ostrichsans/ostrich-rounded-webfont.woff') format('woff'),
       url('../fonts/ostrichsans/ostrich-rounded-webfont.ttf') format('truetype'),
       url('../fonts/ostrichsans/ostrich-rounded-webfont.svg#CombiNumeralsLtdRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* 
 *
 * Navigation
 * ------------------------------------------------------ 
 *
 */

header .nav {
  float: right;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  float: left;
  font: 1.8em 'Ostrich-black', Arial, sans-serif;
  color: rgba(255, 255, 255, .5);
}

.nav ul a {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding: 0 1em;
}

.nav ul li:first-child a {
  padding-left: 0px;
}

.nav ul a:hover, .nav ul a:active {
  color: rgba(255, 255, 255, .65);
}

.nav ul a.active {
  color: #88c425;
}

/* 
 *
 * Header
 * ------------------------------------------------------ 
 *
 */

header {
  height: 405px;
  width: 100%;
  color: #fff;
  padding-top: 40px;
  margin-bottom: 25px;
  background: #556270 url('../img/nodes.png') no-repeat 80% 100%;
}

/* 
 *
 * Footer
 * ------------------------------------------------------ 
 *
 */

footer {
  height: 205px;
  width: 100%;
  color: #fff;
  margin-top: 50px;
  padding-top: 50px;
  background: #556270;
}

footer img {
  margin: 10px;
  opacity: .4;
}

footer .nav {
/*  float: left;*/
}

footer .nav ul li {
  font-size: 1.5em;
}

/* 
 *
 * Logo
 * ------------------------------------------------------ 
 *
 */

header .logo {

  color: inherit;
  display: block;
  width: 3.4em;
  margin: -10px 0 0 0;
  padding: 15px 0 0 0;
  position: relative;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  font: 2.8em 'Ostrich-black', Arial, sans-serif;
  white-space: nowrap;
}

header .logo span {
  position: absolute;
  top: -12px;
  left: 50%;
  padding: 0 5px;
  margin: 0 0 0 -.8em;
  background: #556270;
  text-transform: none;
  font: italic .5em Georgia, Times, serif;
}

.logo.large {

  color: #fff;
  display: block;
  width: 3.35em;
  padding: 35px 0 0 0;

  position: relative;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  font: 9.3em 'Ostrich-black', Arial, sans-serif;
  white-space: nowrap;
}

.logo.large span {
  position: absolute;
  top: -35px;
  left: 50%;
  padding: 0 5px;
  margin: 0 0 0 -.8em;
  background: #556270;
  text-transform: none;
  font: italic .4em Georgia, Times, serif;
}

/* 
 *
 * Type
 * ------------------------------------------------------ 
 *
 */

h1, h2, h3 {
  font: 2.1em 'Ostrich-black', Arial, sans-serif;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.7em;
  color: #519548;
}

h3 {
  margin: 0 0em;
  font-size: 1.5em;
}

em {
  color: #c8cbcf;
  font-style: normal;
}

p {
  font: 1.2em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

.active {
  color: #519548;
}

/* 
 *
 * Layout
 * ------------------------------------------------------ 
 *
 */

.primary-valprop {
  margin-top: 0px;
  margin-bottom: 15px;
}

.button-container {
  text-align: center;
}

.button-container .btn {
  width: 100%;
  font-size: 1.2em;
}

.points {
  border: 1px solid #eee;
  padding: 10px;
}

ol.points {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
    overflow: auto;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

 ol.points > li {
    position: relative;
    margin: 0 0 2px 4em;
    padding: 8px 8px;
    list-style: none;
    float: left;
    width: 35%;
}

ol.points > li:before {
    content: counter(li); /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    
    position: absolute;
    top: 10px;
    left: -2em;

    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;

    -moz-border-radius: 99em;
    -webkit-border-radius: 99em;
    border-radius: 99em;

    width: 1.5em;

    margin: 0 10px;
    padding: 1px;
    color: #fff;
    background: #519548;
    font: bold .8em/1.25em 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
}

hr {
  border-color: #eee;
}

figure {
  margin: 4px;
  text-align: center;
  margin-bottom: 40px;
}

figure a {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
  background: #5e8e47;
  border: 1px solid #eee;
  -moz-border-radius: 99em;
  -webkit-border-radius: 99em;
  border-radius: 99em;
}

figure a .picture {
  position: relative;
  left: -1px;
  top: -1px;
}

figure a .picture:hover {
  opacity: 0.2;
}

.program {
  list-style: none;
}

.program.plan li {
  padding: 6px;
  border-bottom: 1px dotted #999;
}

.program.objectives li {
  padding: 4px 4px 4px 20px;
  background: url('../img/sprite_icons.png') no-repeat 0 -168px;
}

/* 
 *
 * Twitter
 * ------------------------------------------------------
 *
 */

.twtr-hd, .twtr-ft {
  display: none;
}

.twtr-tweet p {
  font-size: 1em;
}

.twtr-tweet-wrap {
  padding: 6px 0 8px !important;
}

/* 
 *
 * Buttons
 * ------------------------------------------------------
 *
 */

.btn {
  height: 3em;
  display: inline-block;
  padding: 0 20px;
  font: bold 1em/3em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 2px 1px #a0d816;
  background: rgb(140,199,34);
  background: -moz-linear-gradient(top,  rgba(140,199,34,1) 0%, rgba(81,149,72,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,199,34,1)), color-stop(100%,rgba(81,149,72,1)));
  background: -webkit-linear-gradient(top,  rgba(140,199,34,1) 0%,rgba(81,149,72,1) 100%);
  background: -o-linear-gradient(top,  rgba(140,199,34,1) 0%,rgba(81,149,72,1) 100%);
  background: -ms-linear-gradient(top,  rgba(140,199,34,1) 0%,rgba(81,149,72,1) 100%);
  background: linear-gradient(to bottom,  rgba(140,199,34,1) 0%,rgba(81,149,72,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc722', endColorstr='#519548',GradientType=0 );
  text-rendering: optimizeLegibility;
  cursor: pointer;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
}

.btn:hover, .btn:active {
  color: rgba(255, 255, 255, .85);
  background: rgb(133,193,39);
  background: -moz-linear-gradient(top,  rgba(133,193,39,1) 0%, rgba(36,130,35,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,193,39,1)), color-stop(100%,rgba(36,130,35,1)));
  background: -webkit-linear-gradient(top,  rgba(133,193,39,1) 0%,rgba(36,130,35,1) 100%);
  background: -o-linear-gradient(top,  rgba(133,193,39,1) 0%,rgba(36,130,35,1) 100%);
  background: -ms-linear-gradient(top,  rgba(133,193,39,1) 0%,rgba(36,130,35,1) 100%);
  background: linear-gradient(to bottom,  rgba(133,193,39,1) 0%,rgba(36,130,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c127', endColorstr='#248223',GradientType=0 );
}

/* 
 *
 * Members Lists
 * ------------------------------------------------------
 *
 */

.member-small a .control {
  position: absolute;
  top: 35px;
  left: 40px;
  padding-top: 20px;
  color: #fff;
  height: 40px;
  display: none;
  z-index: 0;
  font: 1.5em 'Ostrich-black', Arial, sans-serif;
}

.member-small a .control i {
  position: absolute;
  top: -5px;
  left: 30px;
  display: block;
  height: 20px;
  width: 20px;
  background: url('../img/sprite_icons.png') no-repeat -1px 0;
}

.member-small a:hover .control {
  display: block;
}

.member-small a:hover .control:hover {
  display: block;
}

.member-small a .picture {
  z-index: 1;
  background: url('../img/sprite_team.png') no-repeat;
  width: 100px;
  height: 100px;
}

.member-large {
  color: #fff;
}

.member-large p {
  font: 400 1.2em/1.3em 'Helvetica Neue', Arial, sans-serif;
  color: rgba(255, 255, 255, .6);
}

.member a.github, .member a.twitter {
  background: url('../img/sprite_icons.png') no-repeat;
  display: inline-block;
  margin-right: 10px;
}

.member a.github {
  background-position: -50px -116px;
  width: 27px;
  height: 27px;
}

.member a.twitter {
  background-position: -1px -119px;
  width: 32px;
  height: 23px;
}

.member-large .picture {
  width: 192px;
  height: 192px;

  margin: 20px auto 20px auto;
  background: url('../img/sprite_team_large.png') no-repeat 0 0;

}

.member .row .row .logo {
  margin-top: 120px;
  border-bottom: 1px dotted #72808e;
}

.member h1 {
  color: #fff;
  margin-bottom: 15px;
  font: 2em 'Ostrich-black', Arial, sans-serif;
}

.member h1 em {
  font: 1.1em 'Ostrich-medium', Arial, sans-serif;
}

/* small profile pictures */

#name-small-brianleroux .picture {
  background-position: 0 0;
}

#name-small-nunojob .picture {
  background-position: -109px 0;
}

#name-small-jedschmidt .picture {
  background-position: -221px 0;
}

#name-small-timcaswell .picture {
  background-position: -330px 0;
}

#name-small-felixgeisendorfer .picture {
  background-position: -438px 0;
}

#name-small-paolofragomeni .picture {
  background-position: 0 -108px;
}

#name-small-isaacschlueter .picture {
  background-position: -221px -108px;
}

#name-small-joemccann .picture {
  background-position: -330px -107px;
}

#name-small-pedroteixeira .picture {
  background-position: -440px -107px;
}

#name-small-mikealrogers .picture {
  background-position: -221px -219px;
}

#name-small-matthewernisse .picture {
  background-position: 0 -219px;
}

#name-small-adamchristian .picture {
  background-position: -112px -219px;
}

#name-small-marcorogers .picture {
  background-position: 0 -331px;
}

#name-small-henrikjoreteg .picture {
  background-position: -111px -108px;
}

#name-small-christiansanz .picture {
  background-position: -441px -219px;
}

#name-small-danielshaw .picture {
  background-position: -330px -219px;
}

/* large profile pictures */

#name-large-brianleroux {
  background-position: 0 0;
}

#name-large-nunojob {
  background-position: -194px 0;
}

#name-large-jedschmidt {
  background-position: -386px 0;
}

#name-large-timcaswell {
  background-position: -579px 0;
}

#name-large-felixgeisendorfer {
  background-position:  -771px 0;
}

#name-large-paolofragomeni {
  background-position: 0px -200px;
}

#name-large-isaacschlueter {
  background-position: -387px -202px;
}

#name-large-joemccann {
  background-position: -580px -201px;
}

#name-large-pedroteixeira {
  background-position: -773px -202px;
}

#name-large-mikealrogers {
  background-position: -390px -405px;
}

#name-large-matthewernisse {
  background-position: -2px -403px;
}

#name-large-adamchristian  {
  background-position: -197px -402px;
}

#name-large-marcorogers  {
  background-position: 0px -608px;
}

#name-large-henrikjoreteg  {
  background-position: -194px -202px;
}

#name-large-christiansanz  {
  background-position: -773px -403px;
}

#name-large-danielshaw  {
  background-position: -582px -402px;
}



/*
 *
 * Individual Bios
 * ------------------------------------------------------
 *
 */

body.member {
  padding-top: 40px;
  background: #556270;
  padding-bottom: 200px
}

.goback i {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 4px;
  background: url('../img/sprite_icons.png') no-repeat 0 -240px;
}

